.header {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  margin-bottom: 20px;
}

.header_nav {
  display: flex;
  justify-content: space-between;
  width: 250px;
}

.header_nav-accueil {
  color: #ff6060;
  font-weight: 500;
  font-size: 24px;
}

.header_nav-about {
  color: #ff6060;
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
}

@media screen and (max-width: 700px) {
  .header_logo {
    max-width: 120px;
  }

  .header_nav {
    justify-content: flex-end;
  }

  .header_nav-about {
    font-size: 16px;
    margin: 5px;
  }

  .header_nav-accueil {
    font-size: 16px;
    margin: 5px;
  }
}
