.thumbnails {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #f6f6f6;
  border-radius: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 40px;
}

@media screen and (max-width: 700px) {
  .home_banner {
    height: 111px;
  }

  .thumbnails {
    padding: 0px;
    background-color: white;
  }
}
