.error-div {
  display: flex;
  flex-direction: column;
}

.number {
  color: #ff6060;
  font-size: 200px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.oups {
  color: #ff6060;
  font-weight: 500;
  text-align: center;
  margin-bottom: 70px;
}

.link {
  color: #ff6060;
  text-align: center;
  margin-bottom: 50px;
}

@media screen and (max-width: 700px) {
  .number {
    font-size: 100px;
  }
}
