.footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  height: 209px;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 700px) {
  .logo_white {
    max-width: 100px;
  }

  .rights {
    max-width: 200px;
  }
}
